# node_modules
node_modules/

# variables de entorno
.env
.env.prod
.env.test
.env.*
!.env.template

# logs y archivos temporales
logs/
*.log

# IDEs
.vscode/
.idea/

# Otros
coverage/

# OpenAPI generated bundle
openapi.bundle.yaml
